

 
 
.contenedor_contacto {


    display: flex;
    color:rgb(0, 122, 255) ;


}
 
 .control_2 {

    width: 700px;
   height: 520px;
    animation-name: animacion2;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

.contenedor_conecta {

padding-left:  10px;

}

h5 {
    color:rgb(0, 122, 255) ;
font-size: 100px;

}

.subt {

   
    font-size: 50px;
}

.texto_conecta {

    color:rgb(0, 122, 255) ;
    

}

.twitter_es{

    
    width: 80px;
    border: 1px solid rgb(0, 122, 255);
     padding: 10px;
     animation-name: animacion1;
     animation-duration: 2s;
     animation-iteration-count: 6;
     
   
}

.instagram {
    border: 1px solid rgb(0, 122, 255);
     width: 80px;
     padding: 10px;
     transition: 1s;
     animation-name: animacion1;
     animation-duration: 2s;
     animation-iteration-count: 6;
    
    }


.redes {


padding-top: 10px;




}

@keyframes animacion1 {

    0% {

        transform: scale( 1)

    }

     50% {

        transform: scale( 1.1)

     }
    
}

@keyframes animacion2 {

    0% {

        transform: translate(0px, 0px)

    }

     50% {

        transform: translate(0px, 50px)

     }
    
}


@media(max-width:720px) {


.contenedor_contacto {

    flex-direction: column
}

h5 {

font-size: 60px;
padding-top: 40px;
padding-right: 30px;
text-align: center;


}


.texto_conecta{

    text-align: center;
    padding-top: 50px;


}

.control_2 {

width: 300px;
height: 200px;
padding-left: 50px;
}

}