.nav_index {


width: 1423px;


}


.ul_index  {

    background-color:rgb(0, 122, 255);
    list-style: none; 
    display: flex;
    height: 40px;


}
.ul_index > li {



padding-left: 90px;
padding-top: 10px;



}    
 .ul_index > li > a {


    text-decoration:none;
    color: white;

 }

.text-md-start { 
    
    
    
    color: white;
    font-size: 30px;
    padding-left: 80px;
    padding-top: 80px; 
    animation-name: animacion1;
    animation-duration: 2s;
         animation-iteration-count: 3;
    
    }
    
    
    .nav-link {
    
    
    color: white;
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    header {
        background-image : url(../img/Landindpage_imagen.jpg) ;
        width: 1223px;
        height: 701px;
        background-size: cover;
        padding: 100px;
        
        
        
       
        
    }
    
    .footer_index  {


        padding-left: 550px;
        
    }
 
    
    
    
    .lista_footer > li {

    
    justify-content: center;
    text-align: center;
    list-style: none;
    justify-content: center;
    float: left;
    padding-left: 50px;
    padding-bottom: 10px;
       
    
    

}
   
.lista_footer > li > a {

    
    color:rgb(0, 122, 255);
}





.lista_footer2 > li {
    justify-content: center;
    text-align: center;
    list-style: none;
    justify-content: center;
    
    padding-left: 0px;


}

.contenedor_footer_index {

float: left;


}

@media(max-width: 720px){


    .footer_index{

        padding-left: 300px;
        
    }

    
    .ul_index{

        width: 718px ;
        padding-top: 50px;



    }





.nav_index {


 width: 1px;


}


header {


width:520px;


}
.footer_index {

padding-right: 200px;


}

}