.texto_1 {


    font-weight: bold;
    text-align: center;
    
    }
    
    .texto_2 { 
    
        font-weight: bold;
        text-align: center;
        padding-left: 20px;
    
    
    }
    
    
    .control {
    
    
    padding-left: 0px;
    width: 387px;
    
    
    
    }